h1{
text-align: center;
}
/*Añadir un borde a h1*/

h1{border: 7px dashed purple; padding: 10px; marging: 10px;
}
/*Añadir un espacio de 10px entre el borde y su contenido*/
/*Añadir un espacio de 10px entre el borde y la introducción*/

/*Cambiar la medida de la letra del div con id "introducción"*/
div#introduccion{font-size: 21px;
}

/*Cambiar la fuente de los elementos de la clase "narrador"*/

.narrador{font-family: tahoma;
}
/*Mostrar en cursiva los textos de la clase "narrador" situados dentro de un SPAN*/
span .narrador{font-style: italic;
}
/*Cambiar el color de los textos de todos los DIV*/
div{color: green;
}
/*Muestra alineados a la derecha los textos cachi2 */
.cachi2{text-aling: right;
}

/*Añadir un espacio de 3px dentro de los SPAN */
span{padding: 3px;
}

/*Cambiar el color de fondo de los DIV de la clase "dialeg" */
div.dialeg{background: lime;
}

/* Busca información sobre text-shadow y aplica el estilo a los SPAN situados dentro de un H1*/
span h1{text-shadow: 2px 3px 2px;
}
/*Busca información sobre text-decoration para subrayar los textos de la clase cachi2*/
.cachi2{text-decoration: under line 
}
/*Cambiar el color de los textos de la clase cachi1*/
/*Muestra una sombra en los textos de cachi3 */
/*Elimina los subrayados de los links*/
/*Cambiar el color de los links*/
